gen-external-apklibs/

# Ant
local.properties

# Maven
target/
release.properties

# Eclipse
.classpath
.project
.externalToolBuilders/
.metadata
.settings

# IntelliJ
*.iml
*.ipr
*.iws
.idea/
out/

# Mac
.DS_Store

# gitignore
.gitignore

#过滤整个文件夹
/wp-content/uploads/2017/
/wp-content/uploads/2018/
/wp-content/themes/sparkUI/algorithm/server-sdk/API/history/
/friends
/wp-content/plugins/wechat-social-login/logs/*.log
#过滤某个具体文件
wp-config.php

