*{
    margin: 0;
    padding: 0;
}
body{
    font-size:16px;
    font-family:Arial,Verdana,Geneva,sans-seri,Timeshiragino sans gb,microsoft yahei,simsun;/*改动*/
    color:black;
    background-color: #e9edf0;
    width: 100%;
    min-width: 1200px;
}
.content{
    width: 100%;
}
.classify{
    height: 60px;
    background-color: #84ccc0;
}
.classify-title{
    padding-left: 20px;
    padding-top: 20px;
}
.main{
    width: 100%;
}
.main-tan{
    /*display: none;*/
    position: fixed;
    display: block;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index:1001;
    -moz-opacity: 0.8;
    opacity:.80;
    filter: alpha(opacity=80);
}
/*.tan-message{*/
    /*position: absolute;*/
    /*width: 100%;*/
    /*margin: 20% auto 0;*/
    /*display: none;*/
    /*/!*margin-top: 20%;*!/*/
/*}*/

.main-tan{
    /*display: none;*/
    position: fixed;
    display: none;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index:1001;
    -moz-opacity: 0.6;
    opacity:.60;
    filter: alpha(opacity=60);
}
/*.tan-message{*/
/*position: absolute;*/
/*width: 100%;*/
/*margin: -20% auto 0;*/
/*display: none;*/
/*z-index:1002;*/
/*/!*margin-top: 20%;*!/*/
/*}*/

.tan-message{
    position: absolute;
    text-align: center;
    width: 100%;
    margin: 20% auto 0;
    display: none;
    z-index:1002;
    /*margin-top: 20%;*/
}
.tan-message-main{
    width: 500px;
    height: 300px;
}
.tan-message>div{
    position: fixed;
    /*width: 34%;*/
    /*height: 70px;*/
    /*padding:3% 3% 8%;*/
    margin-left: 33%;
    background-color: #fff;
}
.tan-message-title{
    text-align: center;
    color: #336ab2;
    /*font-size: 14px;*/
    border-bottom: 1px solid #dedede;
    background-color: #f7f7f7;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 25px;
}
.tan-message-warning{
    font-size: 14px;
    margin-bottom: 20px;
}
.tan-message-warning a{
    color: #336ab2;
    text-decoration: underline;
}
.tan-message p{
    text-align: left;
    margin-top: 5px;
    margin-left: 11%;
    width: 84%;
}
.tan-message-size{
    font-size: 12px;
    margin-left: 12%!important;
}
.tan-message-borrow{
    margin-top: 20px;
}
.warning{
    height: 15px;
    width: 15px;
    font-size: 12px;
    text-align: center;
    line-height: 16px;
    border-radius: 50%;
    background-color: #3682ae;
    color: #FFF;
    display: inline-block;
}
.share-message{
    font-size: 14px;
}
.tan-message input{
    padding: 10px 100px;
    /*float: right;*/
    margin-top: 30px;
    background-color: #336ab2;
    color: #fff;
    border: none;
    border-radius: 5px;
    /*margin-right: 45%;*/
}
.order-message{
    position: absolute;
    width: 100%;
    margin: 20% auto 0;
    display: none;
    /*margin-top: 20%;*/
}
.order-message div{
    position: fixed;
    /*display: none;*/
    width: 37%;
    height: 100px;
    /*margin: 0 auto;*/
    padding:3% 3% 5%;
    margin-left: 30%;
    background-color: #fff;
    z-index:1002;
}
.order-message p{
    margin-top: 5px;
    margin-left: 10%;
    width: 80%;
}
.order-message input{
    padding: 3px 10px;
    float: right;
    margin-top: 12%;
    margin-right: 45%;
}
.main-left{
    width: 35%;
    float: left;
    margin-top: 40px;
    /*border: 1px solid black;*/
    /*height: 400px;*/
}
.left-body{
    text-align: center;
    width: 70%;
    height: 350px;
    background-color: #fff;
    border: 1px solid #a0a0a0;
    border-radius: 3px;
    margin-left: 10%;
    margin-bottom: 30px;
}
.left-body span{
    /*width: 96%;*/
    display: block;
    margin-top: 20px;
    /*margin-left: 20%;*/
}
.left-body img{
    height: 160px;
    width: 160px;
    margin-top: 20px;
    /*margin-left: 20%;*/
}
.left-body input{
    width: 27%;
    /*font-weight: 600;*/
    /*position: absolute;*/
    /*margin-left: 2%;*/
    margin-top: 20px;
    padding: 5px 10px;
    font-size: 12px;
    /*border-radius: 3px;*/
    /*border: 2px solid #d2d2d1;*/

}
.main-title{
    /*margin-left: 34%;*/
    font-size: 24px;
}
.main-praise{
    /*margin-right: 10%;*/
    /*line-height: 60px;*/
}
.main-btn{
    font-size: 20px;
    padding: 5px 10px;
}
.main-right{
    margin-top: -60px;
    width: 65%;
    float: left;
}
.right-body{
    width: 90%;
    /*margin-left: 10%;*/
    /*border: 1px solid black;*/
}
.main-navigate{
    width: 94%;
    overflow: hidden;
    /*padding-left:5%;*/
    /*border: 1px solid black;*/
}
.border{
    border-bottom: 2px solid black !important;
}
.main-navigate ul{
    text-decoration: none;
    list-style: none;
}
.main-navigate ul li{
    display: inline;
    width: 13%;
    height: 52px;
    line-height: 54px;
    border: 1px solid #84ccc0;
    float: left;
    text-align: center;
    /*height: 20px;*/
    /*margin-right: 4%;*/
    padding: 3px 0px;
    cursor: pointer;
}
.border{
    border-bottom: 2px solid black !important;
}
.main-navigate ul li a{
    height: 52px;
    display: block;
    text-decoration: none;
    color: #000;
}
.body-message{
    border: 1px solid #a0a0a0;
    border-radius: 5px;
    /*height: 500px;*/
    width: 100%;
    background-color: #fff;
    margin-top: 40px;
    margin-bottom: 40px;
}
.book-main{
    width: 97%;
    margin: 20px auto 0px;
    border-bottom: 2px solid #8eb7ca;
}
.book-info{
    /*margin-left: 10px;*/
    display: block;
    padding: 3px 10px;
    width: 100px;
    background-color: #8eb7ca;
}
.book-mainsessage{
    margin-top: 10px;
    width: 92%;
    margin: 10px auto 0;
}
.book-mainsessage span{
    display: block;
    margin-bottom: 10px;
}
.read-history{
    /*border: 1px solid black;*/
    /*height: 200px;*/
    width: 100%;
    display: none;
}
.read-history ul{
    text-decoration: none;
    list-style: none;
}
.read-history ul li{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    border-bottom: 1px solid black;

}
.comment{
    width: 100%;
    padding-bottom: 50px;
}
.book-comment{
    height: 70px;
    /*line-height: 70px;*/
    border-bottom: 1px dotted #a0a0a0;
}
.comment-num{
    margin-left: 40px;
    float: left;
    margin-top: 25px
}
.comment-message{
    padding: 5px 10px;
    background-color: #8dc1ed;
    border-radius: 3px;
    margin-top: 20px;
    margin-right: 5%;
    /*margin-left: 74%;*/
    cursor: pointer;
    float: right;
}
.comment-comment{
    width: 100%;
    /*text-align: center;*/
}
.comment-comment ul{
    width:100%;
    text-decoration: none;
    list-style: none;
}
.comment-comment ul li{
    width: 100%;
    border-bottom: 1px dotted #a0a0a0;
    padding: 10px 0;
    overflow: hidden;
}
.main-bookcomment{
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    /*border: 1px solid black;*/
}
.main-bookcomment div{
    margin-top: 10px;
    margin-bottom: 10px;
}
.main-bookcomment span{
    /*display: block;*/
    /*float: left;*/
    /*margin-top: 20px;*/
    margin-left: 5%;
    color: #919191;
}
.comment-span span{
    margin-left: 0;
}
.comment-span{
    margin-left: 0 !important;
    cursor: pointer;
}
.com-n{
    cursor: pointer;
}
.color{
    color: #919191;
}
.do-comment{
    width: 100%;
    height: 400px;
    display: none;
    background-color: #e9edf0;
    border-bottom: 1px dotted #a0a0a0;
}
.do-comment span{
    margin-left: 40px;
}
.comment-title{
    padding-top: 20px;
}
#star{
    overflow:hidden;
    width: 20%;
    margin-left: 35%;
    margin-top: -41px;
}
#star li{
    float:left;
    width:20px;
    height:20px;
    margin:2px;
    display:inline;
    color:#F1AD2E;
    font:bold 26px arial;
    cursor:pointer;
    border-bottom: none;
}
#result{
     margin-left: 32%;
     margin-top: -20px;
     position: absolute;
 }
.do-comment .result-num{
    margin-left: 33%;
    margin-top: -23px;
    position: absolute;
}
.comment-top{
    margin-top: 10px;
    margin-left: 40px;
}
.textarea{
    width: 90%;
    margin: 0 auto;
}
.input_text {
    width: 100%;
    height: 200px;
    padding: 5px;
    margin-top: 20px;
    outline: none;
    font-family:Arial,Verdana,Geneva,sans-seri,Timeshiragino sans gb,microsoft yahei,simsun;/*改动*/
    border: 1px solid #000;
    resize: none;
    font-size: 16px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.write {
    width: 90%;
    height: 100px;
    padding: 5px;
    margin-top: 20px;
    margin-left: 3%;
    outline: none;
    font-family:Arial,Verdana,Geneva,sans-seri,Timeshiragino sans gb,microsoft yahei,simsun;/*改动*/
    border: 1px solid #a0a0a0;
    resize: none;
    font-size: 16px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 3px;
}
.comment-button{
    width: 100%;
    text-align: center;
}
.comment-button input{
     padding: 3px 10px;
     font-size: 14px;
    margin-top: 20px;
}
.comment-button input[name="button"]{
    margin-left: 20px;
}
.comment-comment-ul{
    display: none;
    margin-left: 40px;
    margin-top: 20px;
    width: 100%;
    /*height: 200px;*/
    /*border: 1px solid black;*/
}
.comment-comment-ul ul{
    width: 70%;
    /*height: 200px;*/
    border: 1px solid #a0a0a0;
    overflow: hidden;
    padding-bottom: 10px;
}
.comment-comment-ul ul li{
    height: 100px;
    /*border-bottom: none;*/
}
.main-comment-comment{
    position: relative;
    width: 100%;
}
.main-comment-comment img{
    width: 50px;
    height: 50px;
    margin-top: 10px;
    margin-left: 10px;
}
/*.write{*/
    /*display: block;*/
    /*margin-top: 20px;*/
    /*margin-left: 20px;*/
    /*height: 30px;*/
    /*/!*float: left;*!/*/
    /*width: 90%;*/
/*}*/
.write-button{
    padding: 5px 10px;
    margin-right: -4%;
    float: right;
    margin-top: 7px;
    margin-left: 10%;
}
.write-exit{
    padding: 5px 10px;
    margin-right: 7%;
    float: right;
    margin-top: 7px;
    margin-left: 10%;
}
.c-n{
    margin-left: 20px;
    position: absolute;
    margin-top: 10px;
}
.c-c{
    margin-left: 20px;
    position: absolute;
    margin-top: 40px;
}
.c-time{
    margin-left: 20px;
    position: absolute;
    margin-top: 80px;
}

.book-more-title{
    margin-top: 20px;
    margin-left: 40px;
}
.book-img-list{
    text-align: center;
}
.main-body-ul{
    width: 90%;
    list-style: none;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 40px;
}
.main-body-ul li{
    width: 25%;
    float: left;
    margin-top: 30px;
    /*margin-right: 4%;*/
    border-radius: 10px;
    text-align: center;
    /*height: 380px;*/
    /*background-color: #d1d1d1;*/
    /*border: 1px solid #b5b5b5;*/
}
.main-body-li img{
    width: 150px;
    height: 200px;
    margin: 15px auto 0;
    display: block;
}
.main-body-li span{
    display: block;
    margin-top: 20px;
    font-size: 15px;
    word-break: keep-all;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    /*position: absolute;*/
    /*margin-left: 40px;*/
}
.usermessage{
    cursor: pointer;
}
.groupmessage{
    cursor: pointer;
}
.detail span a{
    cursor: pointer;
}


.read-history .keeper{
    color: #C75DBE;
    cursor: pointer;
}
img {
    max-width: 100%;
}

/* --------------------------------

Modules - reusable parts of our design

-------------------------------- */
.cd-container {
    /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
    width: 90%;
    max-width: 1170px;
    margin: 0 auto;
}
.cd-container::after {
    /* clearfix */
    content: '';
    display: table;
    clear: both;
}

/* --------------------------------

Main components

-------------------------------- */

#cd-timeline {
    position: relative;
    padding: 2em 0;
    margin-top: 2em;
    margin-bottom: 2em;
}
#cd-timeline::before {
    /* this is the vertical line */
    content: '';
    position: absolute;
    top: 0;
    left: 18px;
    height: 100%;
    width: 4px;
    background: #d7e4ed;
}
@media only screen and (min-width: 1170px) {
    #cd-timeline {
        margin-top: 3em;
        margin-bottom: 3em;
    }
    #cd-timeline::before {
        left: 50%;
        margin-left: -2px;
    }
}

.cd-timeline-block {
    position: relative;
    margin: 2em 0;
}
.cd-timeline-block:after {
    content: "";
    display: table;
    clear: both;
}
.cd-timeline-block:first-child {
    margin-top: 0;
}
.cd-timeline-block:last-child {
    margin-bottom: 0;
}
@media only screen and (min-width: 1170px) {
    .cd-timeline-block {
        margin: 4em 0;
    }
    .cd-timeline-block:first-child {
        margin-top: 0;
    }
    .cd-timeline-block:last-child {
        margin-bottom: 0;
    }
}

.cd-timeline-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}
.cd-timeline-img img {
    display: block;
    width: 48px;
    height: 48px;
    position: relative;
    left: 31%;
    top: 37%;
    margin-left: -12px;
    margin-top: -12px;
}
.cd-timeline-img.cd-picture {
    background: #fff;
}
.cd-timeline-img.cd-movie {
    background: #c03b44;
}
.cd-timeline-img.cd-location {
    background: #f0ca45;
}
@media only screen and (min-width: 1170px) {
    .cd-timeline-img {
        width: 60px;
        height: 60px;
        left: 50%;
        margin-left: -30px;
        /* Force Hardware Acceleration in WebKit */
        -webkit-transform: translateZ(0);
        -webkit-backface-visibility: hidden;
    }
    .cssanimations .cd-timeline-img.is-hidden {
        visibility: hidden;
    }
    .cssanimations .cd-timeline-img.bounce-in {
        visibility: visible;
        -webkit-animation: cd-bounce-1 0.6s;
        -moz-animation: cd-bounce-1 0.6s;
        animation: cd-bounce-1 0.6s;
    }
}

.btn{
    padding: 3px;
    color: white;
    background-color: #1D1D1D;
    font-family: "微软雅黑";
    font-size: 14px;
}
.fun{
    margin-bottom: 15px;
}
.cd-timeline-content {
    position: relative;
    margin-left: 60px;
    background: #e9edf0;
    border-radius: 0.25em;
    padding: 1em;
    box-shadow: 0 3px 0 #d7e4ed;
}
.cd-timeline-content:after {
    content: "";
    display: table;
    clear: both;
}
.cd-timeline-content h2 {
    color: #303e49;
}
.cd-timeline-content p, .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
    font-size: 13px;
    font-size: 0.8125rem;
}
.cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
    display: inline-block;
}
.cd-timeline-content p {
    margin: 1em 0;
    line-height: 1.6;
}
.cd-timeline-content .cd-read-more {
    float: right;
    padding: .8em 1em;
    background: #acb7c0;
    color: white;
    border-radius: 0.25em;
}
.no-touch .cd-timeline-content .cd-read-more:hover {
    background-color: #bac4cb;
}
a.cd-read-more:hover{text-decoration:none; background-color: #424242;  }
.cd-timeline-content .cd-date {
    float: left;
    padding: .8em 0;
    opacity: .7;
}
.cd-timeline-content::before {
    content: '';
    position: absolute;
    top: 16px;
    right: 100%;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-right: 7px solid white;
}
@media only screen and (min-width: 768px) {
    .cd-timeline-content h2 {
        font-size: 20px;
        font-size: 1.25rem;
    }
    .cd-timeline-content p {
        font-size: 16px;
        font-size: 1rem;
    }
    .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
        font-size: 14px;
        font-size: 0.875rem;
    }
}
@media only screen and (min-width: 1170px) {
    .cd-timeline-content {
        margin-left: 0;
        padding: 1.6em;
        width: 38%;
    }
    .cd-timeline-content::before {
        top: 24px;
        left: 100%;
        border-color: transparent;
        border-left-color: white;
    }
    .cd-timeline-content .cd-read-more {
        float: left;
    }
    .cd-timeline-content .cd-date {
        position: absolute;
        width: 100%;
        left: 122%;
        top: 6px;
        font-size: 16px;
        font-size: 1rem;
    }
    .cd-timeline-block:nth-child(even) .cd-timeline-content {
        float: right;
    }
    .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
        top: 24px;
        left: auto;
        right: 100%;
        border-color: transparent;
        border-right-color: white;
    }
    .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
        float: right;
    }
    .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
        left: auto;
        right: 122%;
        text-align: right;
    }
    .cssanimations .cd-timeline-content.is-hidden {
        visibility: hidden;
    }
    .cssanimations .cd-timeline-content.bounce-in {
        visibility: visible;
        -webkit-animation: cd-bounce-2 0.6s;
        -moz-animation: cd-bounce-2 0.6s;
        animation: cd-bounce-2 0.6s;
    }
}

@media only screen and (min-width: 1170px) {
    /* inverse bounce effect on even content blocks */
    .cssanimations .cd-timeline-block:nth-child(even) .cd-timeline-content.bounce-in {
        -webkit-animation: cd-bounce-2-inverse 0.6s;
        -moz-animation: cd-bounce-2-inverse 0.6s;
        animation: cd-bounce-2-inverse 0.6s;
    }
}

table{
    width: 100%;
}
table thead th{
    display: inline-block;
    margin-left:40px;
    width: 50px;
}
table tbody th,td{
    /*display: inline-block;*/
    margin-left:40px;
    /*width: 50px;*/
    padding: 10px 0;
}