/* CSS Document */
*{
	margin:0px;
	padding:0px;
}
body{
	width: 100%;
	font-size:16px;
	font-family:hiragino sans gb,microsoft yahei,simsun;/*改动*/
	color:black;
}
.main{
	width:80%;
	margin: 0 auto;
}
.main-m{
	width: 495px;
	height:400px;
	margin:200px auto;
	/*background-color: antiquewhite;*/
	box-shadow:0px 0px 2px black;
}
.title{
	font-size: 24px;
	padding-top: 20px;
	text-align: center;
}
.form{
	margin-bottom: 30px;
	margin-top: 50px;
}
.form input{
	/*border: none;*/
	display: block;
	padding: 10px 0;
	margin: 0 auto 20px;
	font-size: 16px;
	width: 70%;
	border: none;
	outline: none;
	border-bottom: 1px solid #000;
}
.form .submit{
	background-color: #1c57ff;
	border: none;
	border-radius: 5px;
	margin-top: 50px;
	padding: 15px 0;
	color:#fff;
}
.footer{
	text-align: center;
	width: 80%;
	margin: 0 auto;
	overflow: hidden;
}
.footer a{
	color: #0099FF;
	text-decoration: underline;
	background-color: #fff;
}
.wechat-login{
	float: left;
	margin-left: 20px;
}
.wechat-login img{
	margin-top: -1px;
	width: 30px;
	height: 25px;
}
.register{
	float: left;
	margin-left: 20px;
}
.forget{
	float: right;
	margin-right: 20px;
}