*{
    margin: 0;
    padding: 0;
}
body{
    font-size:16px;
    font-family:Arial,Verdana,Geneva,sans-seri,Timeshiragino sans gb,microsoft yahei,simsun;/*¸Ä¶¯*/
    color:black;
    background-color: #e9edf0;
    width: 100%;
    min-width: 1200px;
}
.content{
    width: 100%;
}
.main{
    width: 100%;
}
.main-right{
    width: 70%;
    overflow: hidden;
    margin: 40px auto;
}
.message ul{
    /*margin-left: 13.2%;*/
    float: left;
    width: 100px;
    text-decoration: none;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
    border: 1px solid #bcbcbc;
    box-shadow: 0 0 2px #bcbcbc;
    /*margin-top: 61px;*/
    /*border-radius: 5px;*/
}
.message ul li{
    /*display: inline;*/
    /*width: 15%;*/
    /*border: 1px solid #b0b0b0;*/
    /*float: left;*/
    text-align:     center;
    height: 30px;
    line-height: 30px;
    /*margin-right: 4%;*/
    padding: 3px 0px;
    cursor: pointer;
    /*background-color: #c2d8d7;*/
}
.message ul li:hover{
    background-color: #fff;
}
.activecolor{
    background-color: #f2f2f2 !important;
}
.second-navigate{
    float: left;
    margin-left: 50px;
    border: 1px solid #bcbcbc;
    background-color: #fff;
    height: 500px;
    width: 50%;
    padding: 30px 10%;
}
.savemessage{
    font-size: 14px;
    padding:5px 30px;
    margin-top: 30px;
    margin-left: 20%;
    border: none;
    background-color: #3682ae;
    color: #fff;
}
.exitmessage{
    font-size: 14px;
    padding:5px 30px;
    /*margin-top: 20px;*/
    margin-left: 20%;
    border: 1px solid #3682ae;
    background-color: #fff;
    color: #3682ae;
}
.messageform31{
    clear: both;
    display: none;
}
.messageform32{
    clear: both;
    display: none;
}
.messageform33{
    clear: both;
    display: none;
}
.span-c{
    width: 100%;
    /*text-align: center;*/
}
.change-message3{
    font-size: 14px;
    padding:5px 30px;
    margin-left: 20%;
    border: none;
    background-color: #3682ae;
    color: #fff;
}
.change-message2{
    font-size: 14px;
    padding:5px 30px;
    margin-left: 20%;
    border: none;
    background-color: #3682ae;
    color: #fff;
}
.change-message1{
    font-size: 14px;
    padding:5px 30px;
    margin-left: 20%;
    border: none;
    display: block;
    background-color: #3682ae;
    margin-top: -45px;
    color: #fff;
}
.messageform1 img{
    width: 100px;
    height: 100px;
}
.choose-img{
    text-align: center;
}
.choose-img .img-result{
    width: 250px;
    height: 250px;
}
.marginleft{
    margin-left: 25%;
}
.label-left{
    float: left;
    display: block;
    width: 110px;
}
.label-n{
    margin-top: 50px;
}
.lab-name{
    height: 20px;
}
.lab-length{
    width: 300px;
}
.lab-belong{
    height: 26px;
}
.lab-summary{
    width: 60%;
    height: 100px;
}
.label-float{
    float: left;
}
.username-in{
    font-size: 18px;
    width: 74%;
    height: 26px;
    margin-left: 20px;
    word-wrap: break-word;
}
.span-s{
    padding-bottom: 50px;
}
.span-s input{
    margin-left: 20px;
}
.messageform2 input{
    float: right;
}
.span-s textarea{
    margin-left: 20px;
}
.student-number{
    height: 24px;
}
.textarea{
    height: 100px;
    width: 300px;
    outline: none;
    border: 1px solid #a0a0a0;
    resize: none;

}
.person-sub{
    margin-left: -12px;
}
.savebtn{
    margin-left: 35%;
}
.save-address{
    margin-top: 0px;
    margin-bottom: 20px;
}
.tan-message-size{
    margin-bottom: 20px;
}
.message-user{
    border-bottom: 1px solid #bcbcbc;
    overflow: hidden;
    padding-top: 20px;
}
.form{
    margin-top: 25px;
    display: none;
}
.form input{
    float: none!important;
    display: block;
    padding: 10px 0;
    margin: 0 auto 10px;
    font-size: 16px;
    width: 70%;
    border: none;
    outline: none;
    border-bottom: 1px solid #000;
}
.form .submit{
    background-color: #1c57ff;
    border: none;
    width: 40%;
    border-radius: 5px;
    margin-top: 20px;
    padding: 10px 0;
    color:#fff;
}
.select{
    width: 70%;
    margin: 0 auto 10px;
}
.form .select input{
    /*border: none;*/
    display: inline-block;
    padding: 10px 0;
    margin: 0 auto 10px;
    width: 32%;
    border: none;
    outline: none;
    font-size:16px;
    border-bottom: 1px solid #000;
}
.form select{
    /*border: none;*/
    display: inline-block;
    padding: 10px 0;
    color: #969696;
    margin: 0 auto 20px;
    width: 32%;
    font-size: 16px;
    background-color: #fff;
    -webkit-appearance: none;
    border: none;
    outline: none;
    border-bottom: 1px solid #000;
}