/* CSS Document */
*{
    margin:0px;
    padding:0px;
}
body{
    width: 100%;
    font-size:16px;
    font-family:hiragino sans gb,microsoft yahei,simsun;/*改动*/
    color:black;
}
.main{
    width:80%;
    margin: 0 auto;
}
.main-m{
    width: 495px;
    height:495px;
    margin:185px auto;
    /*background-color: antiquewhite;*/
    box-shadow:0px 0px 2px black;
}
.title{
    font-size: 24px;
    padding-top: 20px;
    text-align: center;
}
.form{
    margin-bottom: 30px;
    position: relative;
}
.form input{
    /*border: none;*/
    display: block;
    padding: 10px 0;
    margin: 0 auto 10px;
    width: 70%;
    border: none;
    outline: none;
    font-size:16px;
    border-bottom: 1px solid #000;
}
.select{
    width: 70%;
    margin: 0 auto 10px;
}
.form .select input{
    /*border: none;*/
    display: inline-block;
    padding: 10px 0;
    margin: 0 auto 10px;
    width: 32%;
    border: none;
    outline: none;
    font-size:16px;
    border-bottom: 1px solid #000;
}
.form img{
    position: absolute;
    right: 13%;
    margin-top: 7px;
    width: 40px;
}
.form select{
    /*border: none;*/
    display: inline-block;
    padding: 10px 0;
    color: #969696;
    margin: 0 auto 20px;
    width: 32%;
    font-size: 16px;
    background-color: #fff;
    -webkit-appearance: none;
    border: none;
    outline: none;
    border-bottom: 1px solid #000;
}
.form .submit{
    background-color: #1c57ff;
    border: none;
    border-radius: 5px;
    margin-top: 25px;
    padding: 15px 0;
    color:#fff;
}
.main-bottom{
    width: 330px;
    margin: 20px auto;
    padding-top: 10px;
    border-top:1px solid black;
}
.no-user{
    margin-left: 50px;
}
.register{
    margin-left: 40px;
    color: #0099FF;
    text-decoration: underline;
    cursor: pointer;
}